.loader {
    height: 2px;
    width: 6px;
    background-color: black;

    /* if you want the loader to go front and back, uncomment the line below and comment the line after it */

    /*animation: loading 2s ease-in-out infinite alternate;*/
    animation: loading 2s ease-in-out infinite;
    transition: all 2s ease-in-out;
}

/* loading animation */
@keyframes loading {
    from {
        width: 0%;
        margin-left: 0%;
    }

    50% {
        width: 20%;
    }

    to {
        width: 0%;
        margin-left: 95%;
    }
}