.container-login100-form-btn {
    display: flex !important;
}

.client-email-span, .email-confirmation-span {
    font-size: 1.7em;
    padding: .9em;
    color: honeydew;
}

.account-ownership-confirmation-span {
    font-size: 1.3em;
    padding: .9em;

}

.ringtone {
    width: 355px;
    height: 155px;
}

.my-btn {
    padding: .3em;
    font-size: 1.2em;
    background-color: white;
    border-radius: 1em;
    width: 7em;
}

.my-btn:first-child {
    color: red;
    margin-right: 2em;
}

.my-btn:last-child {
    color: green;
}

/* loading animation */
@keyframes loading {
    from {
        width: 0%;
        margin-left: 0%;
    }

    50% {
        width: 20%;
    }

    to {
        width: 0%;
        margin-left: 95%;
    }
}